@model List<ExportJsonFromExcel.Controllers.HomeController.ModelProduct>



<div class="chia52hang" id="tr-prd-bottomt1">
    <div class="full left tr-prd-bottom tr-prd-bottom1">
        @for (int i = 0; i < ((Model.Count) / 3); i++)
        {
        <div class="item">
            @foreach (var item in Model.Skip(i * 3).Take(3))
            {
                
                        <div class="tr-col-50" style="">

                            <div class="tr-img-price full left">
                                <a href="" class="full left" target="_blank" title=""><img class="full left lazyloaded" src="@item.ImageProduct" alt=""> </a>
                            </div>
                            <div class="tr-price-prd2 full left">
                                <h3><a href="" class="full left" target="_blank" title=""> @item.ProductName </a></h3>
                                <div class="th-product-price full left">
                                    <span class="tr-price-km"> @item.PriceDiscount.ToString("#,### đ") </span>
                                    <span class="tr-line-though"> @item.Price.ToString("#,### đ") </span>
                                    <span class="tr-product-discount">-@item.RateDiscount% </span>
                                </div>

                                <div class="nhapma">
                                    Nhập mã<span style="color: #000;"> @item.Code </span>còn <span style="color: #000">@item.PriceCode.ToString("#,### đ")</span>
                                </div>

                                <div class="clear"></div>
                            </div>
                        </div>

                    
                
            }
        </div>
        }
    </div>
















